@charset "utf-8";

$body-size: 14px;
$gap: 8px;
$section-padding: 0.5rem;

@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-pageloader/src/sass/index';

#logo {
	background-color: red;
	border-radius: 40px;
	font-weight: bold;
	color: white;
	padding: 6px;
}

.parent-issue {
	border-left: 1px solid $grey-light;
}

.child-issue {
	border-left: 1px solid $grey-light;
}

